
@tailwind base;
@tailwind components;
@tailwind utilities;

$mainColor: #fff;
$javaColor: #f4dc1c;
$netColor:  #512bd4;
$bgcustomColor: rgba(22, 22, 22, 0);
$darkColor: rgba(255, 255, 255, 0);
$orangeColor: #f9ab00; 

@layer components {
    .heroButton {
        @apply px-6 py-2 border border-[#242424] 
        rounded-full uppercase text-xs tracking-widest
        text-gray-500 transition-all hover:border-[#f4dc1c]/40 hover:text-[#f4dc1c]/40 ;
    }
    .contactInput{
        @apply outline-none bg-slate-500/10 rounded-sm border-b px-6 border-[#242424] text-gray-500 transition-all py-4 focus:border-[#f4dc1c] focus:text-[#f4dc1c]/40 hover:border-[#f4dc1c]/40
    }
}